/* body { 
    background-color: #212529; 
} */

#content {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%; 
}

#profile-content {
    text-align: center;
}

#profile-pic {
    border-radius: 15%;
    max-width: 25%;
    max-height: 25%;
    margin-bottom: 3%;
}

#intro {
    font-size: 3rem;
}

#bio {
    font-size: 1rem;
}

#social-media li {
    list-style: none;
    display: inline;
}

#social-media li img {
    width: 2rem;
    margin: 1.5%;
}